{
  "presets": [
    "react",
    "env"
  ],
  "plugins": [
    ["babel-plugin-styled-components", {
      "preprocess": false,
      "ssr": true,
      "displayName": false,
    }],
    ["transform-object-rest-spread"],
    ["transform-class-properties"]
  ]
}
